<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <title>Landing Page</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href=css/style.css>
    <meta name="viewport" content="width = device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie = edge"/>
</head>
<body>
<div class="page" >
<!-- HIER BEGINNT die Menüzeile--> 
    <div class = "header">
        <div class= "innerHead">
            <div class = "WebsiteName">
                <h1>Group<span>Recommender</span></h1>
            </div>
            <ul class = "nav">
                <a href="/users/login"><li>Login</li></a>
            </ul>   <!-- HIER Endet die Menüzeile-->
        </div>    
    </div>        

    <!--Hier beginnt der Body -->    

    <div class = "text"> 
        <div class="idea"> <h2>Idea</h2>
            <p>With this tool we want to help you and your friends to find a restaurant that everyone likes</p>
        </div>
        <div class="description" >
            <h2>How do we know what you like</h2>
            <p>All of you must be registered on our side. On your first Login you are asked to rate a few restuarants. 
                With this Information we get a rough Idea of what you like.
                After that you can enter your and your friends email inside the email field.
                And we do the rest </p>
        </div> 
        <div class = "restaurants">
            <h2>Retsurants covered</h2>
            <div class="second">
            <ul>
                <a href="https://losteria.net/de/speisekarte/pizza/"><li>L'Osteria</li></a>
                <a href="https://www.speisekarte.de/saarbr%C3%BCcken/restaurant/burger_mafia/speisekarte"><li>Burger Mafia</li></a>
                <a href="https://hashimoto-saar.de/"><li>Hashimoto</li></a>
                <a href="https://www.restaurant-labastille.de/"><li>La Bastille</li></a>
                <a href="https://www.sushi-saarbruecken.de/"><li>Osaka</li></a>
                <a href="https://www.speisekarte.de/saarbr%C3%BCcken/restaurant/krua_thai_restaurant/speisekarte"><li>Krua Thai</li></a>
                <a href="https://okinii.de/okinii-menu-sushi-salate-suppen-und-mehr-japanische-spezialitaeten/"><li>Okinii</li></a>
                <a href="https://grand-asia.de/"><li>Asia Restaurant</li></a>
                <a href="https://www.roma-saarbruecken.de/"><li>Ristorante Roma</li></a>
                <a href="https://speisekarte.menu/restaurants/saarbruecken/paolo-tonio-1"><li>Paolo Tonio</li></a>                     
            </ul>
            </div> 
            <div class = "first">
            <ul>   
                <a href="https://de-de.facebook.com/pages/category/Fast-Food-Restaurant/Arian-Grill-Parkdeck-D%C3%B6ner-121349157922670/"><li>Aryan Grill/Parkhaus Grill</li></a>
                <a href="https://www.die-kartoffel-sb.de/"><li>Die Kartoffel</li></a>
                <a href="http://www.buffalo-saar.de/speisekarte.html"><li>Buffalo Steakhouse</li></a>
                <a href="https://www.el-sombrero.de/"><li>ElSombrero</li></a>
                <a href="http://dasflammkuchenhaus.de/"><li>Restaurant Falmmkuchenhaus</li></a>
                <a href="https://www.cafe-especial.com/"><li>Cafe Especial</li></a>
                <a href="https://www.vapiano-lieferservice.de/de/restaurant/desb1/saarbrucken-rathaus"><li>Vapiano</li></a>
                <a href="https://www.dieburgerei.de/?gclid=Cj0KCQjw1PSDBhDbARIsAPeTqrcZ5ZGGf6_rZXsumX0lAXp7pbCXKtLxVJUQqcZpQy6AsVSg8ECzQm0aAizBEALw_wcB"><li>Burgerrei</li></a>
                <a href="https://www.facebook.com/therealsaarkebab/"><li>Saar Kebab</li></a>
                <a href="https://www.kalinskibrueder.de/"><li>Kalinski</li></a> 
            </ul>
            </div> 
        </div> 
        <!-- Restaurants div -->
    </div> 

    <div class="img">
        <img class="picture01" src="img/picture01.jpg" />
        <img class="picture02" src="img/picture02.jpg" />
    </div>   
    <!--Hier endet der Body -->


    <!--Hier beginnt die Fußzeile-->            
    <footer>
        <p>Universität des Saarlandes</p>
    </footer>                

    
    <!--Hier endet die Fußzeile-->

</div>
</body>
</html>    